.blogs{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
@media screen and (max-width:1500px) {
    .blogs{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (max-width:1150px) {
    .blogs{
        padding-left: 20px;
        padding-right: 20px;
    }
}

